.Header {
  height: 6rem;
  background-color: #fea218;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-left: 2rem;
}
.Header__Logo {
  background-color: #d9d8d8;
  padding: 0.5rem;
  height: 3.7rem;
  width: 3.7rem;
  display: flex;
  align-items: center;
}
.Header__Name {
  color: #fefffe;
}
