* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  height: 100vh;
}
.App__Content {
  top: 6rem;
  bottom: 6rem;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #d9d8d8;
  display: flex;
  gap: 3.5rem;
  padding: 3.4rem 2.5rem 2.5rem 3.4rem;
  overflow: auto;
}
